body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button {
    border: 2px solid black;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.playerTurn {
    font-size: 24px;
}

.board {
    display:grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
}

.reset {
    padding: 20px 50px;
    font-size: 24px;
    background-color: green;
}



